[Unit]
Description="Inventory Web App Server"
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/inventory-v2/ssr-webpack/
User=www-data
Group=www-data
ExecStart=/home/ubuntu/.nvm/versions/node/v13.11.0/bin/node server.js -p 3001
Restart=on-failure

[Install]
WantedBy=multi-user.target