@use "colors.scss";

.app-wrapper {
  background-color: colors.$abyss;
  font-family: Roboto, Helvetica, sans-serif;

  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

$hamburger-layer-color: #ecebe4ff;
.hamburger-label {
  font-weight: 600;
  display: inline-block;
  margin-right: 8px;
  // height: 24px;
  vertical-align: middle;
  text-transform: uppercase;
}

@import "hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger:focus {
  background-color: colors.$darkAccent;
  border-radius: 6px;
}
// this aligns the .hamburger-box with the .hamburger-label
.hamburger .hamburger-box {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

.branding {
  background-color: colors.$dark1;
  color: #ecebe4ff;

  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: colors.$accent;
}

.branding h2 {
  display: inline-block;
  flex-grow: 1;
  font-size: 2rem;
  margin: 0;
  margin-left: 1rem;
}
/* 
.hamburger {
  font-size: 1em;
  text-transform: uppercase;
} */

.main-container {
  background-color: colors.$abyss;
  height: 100vh;
}

.main-content {
  background-color: colors.$foreground;
  // height: 100vh;
}

// .main-container {
//   box-sizing: border-box;
//   position: fixed;
//   margin-left: 15%;
//   background-color: colors.$abyss;
//   height: 100vh;
//   width: 85%;
// }
// .main-content {
//   margin: 3em auto;
//   width: 50%;
//   border-radius: 8px;
//   padding: 12px;
//   background-color: colors.$foreground;
//   min-height: 10em;
//   box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
// }

// @media only screen and (min-width: 800px) {
//   .fixed-bar {
//     height: 100vh;
//     width: 15%;
//     position: fixed;
//     top: 0;
//     left: 0;

//     overflow-x: auto;

//     background-color: #04151fff;
//     box-shadow: 0px 0 10px 0px #000000;
//     z-index: 10;
//   }
// }
