body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 1em;
}

.navlink {
    text-decoration: none;
}

.navlink + .navlink::before {
    content: ' | ';
}

.navlink--selected {
    text-decoration: underline;
}

.form-item label {
    margin-right: 1em;
}
