@use "colors";

// .form {
//   display: grid;
// }
.form::after {
  // fallback if grid not understood
  content: "";
  clear: both;
  display: table;
}

.form-label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5em;
  //   grid-column: 1/2;
}

.form-input {
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding: 0.4em;
  //   grid-column: 2/3;
}

.form-input-container {
  display: flex;
  margin-top: 0.2em;
}

.form-input-print-button {
  flex: 0 0 auto;

  background-color: colors.$darkAccent;
  color: white;
  font-weight: 400;
  width: 10em;
  border: unset;
  border-radius: 0.3em;

  padding: 0.4em;
}

.form-submit {
  background-color: colors.$darkGood;
  color: white;
  font-weight: 400;
  float: right;
  width: 10em;
  border: unset;
  border-radius: 0.3em;

  padding: 0.4em;
}
.form-submit:active,
.form-submit:focus {
  background-color: colors.$dark2;
}

.alert {
  display: flex;
  border-radius: 0.5em;
  background-color: white;

  box-shadow: 0 25px 50px -12px rgba(29, 26, 26, 0.25);
  padding: 12px;
}

.alert-success,
.alert-failure {
}
