.item-description__label {
  display: block;

  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.item-description__line {
  margin-bottom: 0.5em;
}

.item-description__label--inline {
  display: inline;
}

.item-description__name {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.item-description__label--zeroes {
  font-size: 0.8em;
  opacity: 90%;
}

// .item-description__label--code {
// }
