@use "accessibility";
@use "colors";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar--collapse {
  display: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  background-color: colors.$dark2;
}

.navbar li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.navlink {
  display: block;
  flex: 1 1 100%;
  padding: 8px;
  margin: 4px;
  height: 18px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  cursor: pointer;
}

.navlink--selected,
.navlink:active,
.dropdown-container .navlink:active {
  background-color: colors.$darkAccent;
  color: white;
}

.navbar .dropdown-container {
  background-color: colors.$foreground;
  padding-top: 8px;
  border-radius: 4px;
}

.dropdown-container.dropdown-hide {
  @include accessibility.screen-reader;
}

.dropdown-container.dropdown-show {
  @include accessibility.screen-reader-show;
}

.dropdown-container .navlink {
  color: black; //check in production
}
