@import "accessibility";
@import "colors";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar--collapse {
  display: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  background-color: @1;
}

.navbar li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.navlink {
  display: block;
  flex: 1 1 100%;
  padding: 8px;
  margin: 4px;
  height: 18px;
  background-color: @1;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  cursor: pointer;
}

.navlink--selected.navlink--selected.navlink--selected {
  background-color: @8;
  color: white;
}

.navbar .dropdown-container {
  background-color: @2;
  padding-top: 8px;
  border-radius: 4px;
}

.dropdown-container.dropdown-hide {
  .screen-reader();
}

.dropdown-container.dropdown-show {
  .screen-reader-show();
}

.dropdown-container .navlink {
  background-color: @2;
  color: @5;
}
