@use "accessibility";
@use "colors";

$hamburger-layer-color: #ecebe4ff;
.hamburger-label {
  font-weight: 600;
  display: inline-block;
  margin-right: 8px;
  // height: 24px;
  vertical-align: middle;
  text-transform: uppercase;

  @include accessibility.screen-reader();
}

@import "hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  display: block;
  position: absolute;
  margin: calc((5rem - 54px) / 2);
  right: 0;
  top: 0;
}

.hamburger-dropdown-container:focus-within > .hamburger {
  background-color: colors.$darkAccent;
  border-radius: 6px;
}

.hamburger-dropdown-container > .navbar {
  @include accessibility.screen-reader;
}
.hamburger-dropdown-container:focus-within > .navbar {
  @include accessibility.screen-reader-show;
}
// this aligns the .hamburger-box with the .hamburger-label
.hamburger .hamburger-box {
  vertical-align: middle;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  background-color: colors.$dark2;
}

.navbar--collapse {
  display: none;
}

.navbar .dropdown-container {
  background-color: colors.$foreground;
  padding-top: 0.5em;
  border-radius: 0.25em;
}

.navlink {
  box-sizing: content-box; // bugfix for raspberrypi-chromium browser
  flex: 1 1 100%;
  padding: 0.5em;
  margin: 0.25em;
  height: 1.2em;
  border-radius: 0.25em;
  color: white;
  background-color: inherit;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  cursor: pointer;
}

.navlink--selected,
.navlink:active,
.navlink:focus,
.dropdown-container .navlink:active {
  background-color: colors.$darkAccent;
  color: white;
}

// .hide must be more specific than .hamburger-dropdown-container:focus-within > .navbar
//   as long as HamburgerDropdown.state defaults to false
.hide.hide.hide,
.dropdown-container.dropdown-hide {
  @include accessibility.screen-reader;
}

.show,
.dropdown-container.dropdown-show,
.dropdown-container.dropdown-hide:active {
  @include accessibility.screen-reader-show;
}

.dropdown-container .navlink {
  color: black; //check in production
}
